@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Open Sans';
  line-height: 2;
}

.flex {
  display: flex;
}

.container,
.header-container,
.introText,
.form-container,
.form-group2 {
  flex-direction: column;
}

.header-container,
.form-container {
  min-height: 100vh;
}

.header-container {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  /**/
}

.text-image {
  flex-direction: column;
  width: 100%;
}

/* hamburger menu  */
.hide {
  display: none;
}

.show {
  display: flex;
}

.menu {
  min-width: 10vw;
  max-width: 20vw;
  height: 10vh;
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
}

.line {
  width: 40px;
  height: 4px;
  background-color: white;
  margin-top: 10px;
  transition: 0.5s;
}

.line.transformMenu:first-of-type {
  transform: rotate(45deg) translate(10px, 10px);
}

.line.transformMenu:nth-of-type(2) {
  transform: rotate(-45deg);
}

.line.transformMenu:nth-of-type(3) {
  
  opacity: 0;
}
/* burger end */

nav {
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
}

.logo img, .phoneImg img{
  display: block;
}
.phoneImg img {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgba(21, 41, 190, 0.945);
}

li {
  text-align: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px rgb(83, 81, 81) solid;
}

a {
  text-decoration: none;
  color: white;
}

li a, 
.arrow {
  transition: all ease 0.3s;
}

.phoneImg,
.introText {
  width: 100%;
}

.introText {
  justify-content: center;
  align-items: flex-start;
  padding: 10%;
}

.introText h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.introText div,
.introText p:first-child {
  margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  background-color: rgb(255, 127, 39);
  margin-top: 20px;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #686565;
  transition: all ease 0.3s;
}

.phoneImg {
  align-items: center;
  animation-name: fadein;
  animation-duration: 4s;
}

.phoneImg img,
.introText img {
  max-width: 100%;
}

.arrow {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 30px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

/*form section*/

.form-section{
  background-color: #000139;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.form-section .underline{
  width: 100px;
  height: 5px;
  background-color: #535eff;
  margin-top: 15px;
  margin-bottom: 50px;
}
.form-section h2{
  text-transform: uppercase;
}
.form-section form{
  width: 100%;
  text-align: center;
}
.form-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-wrapper{
  width: 48%;
  position: relative;
  display: flex;
}
.help{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.help:hover + .tooltip {
  display: block;
}
.tooltip{
  position: absolute;
  top: 130%;
  right: 0px;
  background-color: #4d4e8e;
  width: 200px;
  color: #fff;
  padding: 10px;
  display: none;
}
.tooltip:after{
  position: absolute;
  top: -8px;
  left: 55%;
  content: '';
  background-color: #4d4e8e;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.form-group .input-wrapper i {
  margin-right: 5px;
}
.form-group .input-wrapper input[type = 'text']{
  width: 100%;
  padding-right: 100px;
}
.form-group .input-wrapper input[type = 'date']{
  width: 100%;
}
.input-wrapper label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.input-wrapper input[type='date']:focus + label{
  display: none;
}
.sub-group{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.form-group input{
  width: 48%;
  padding: 15px;
  background-color: #00025e;
  color: #fff;
}
.form-group input::placeholder ,.form-group textarea::placeholder {
  color: #fff;
}
/*removing placeholder from input type date*/

input[type=date]::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: #fff;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

input[type = 'date']{
  cursor: pointer;
}

.form-group .sub-group input, .form-group .sub-group textarea{
  width: 100%;
}
.form-group .sub-group textarea{
  background-color: #00025e;
  outline: none;
  border: none;
  padding: 15px;
  color: #fff;
}

li a:hover {
  color: gray;
  text-shadow: 1px 1px 2px #2e2d2d;
}

.arrow a:hover {
  color: rgb(255, 127, 39);
}

button:hover {
  background-color: transparent;
  color: rgb(255, 127, 39);
  outline: 1px solid rgb(255, 127, 39);
  box-shadow: 2px 1px 5px 3px rgba(153, 154, 163, 0.767);
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 768px) {

  .menu {
    display: none;
  }

  ul {
    position: relative;
    background: transparent;
    top: 0;
    right: 0;
    flex-direction: row;
    width: auto;
  }

  li {
    border: none;
    width: auto;
    margin: 0 1em;
  }

  .text-image {
    flex-direction: row;
    height: calc(100vh - 100px);
  }

  .phoneImg,
  .introText {
    width: 50vw;
    min-height: calc(100vh - 100px);
  }

  .introText {
    padding: 0 10%;
  }

  .phoneImg {
    justify-content: flex-start;
  }
}

@media (max-width: 600px){
  .form-group,.sub-group,.input-wrapper{
    display: block;
    margin: 1em auto;
    width: 100%;
  }
  
  .input-wrapper input{
    width: 100%;
  }
  .form-group input, .form-group textarea{
    width: 100%;
  }
  input[type='email']{
    margin-bottom: 1em;
  }
}
