@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 2;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.white {
  color: #fff;
}

.center {
  align-items: center;
}

.text-image,
.form-section,
.products,
.form-section {
  min-height: 100vh;
}

.header-container {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.text-image,
.products,
.phoneImg,
.introText,
.form-section form,
.form-group .input-wrapper input[type = 'text'],
.form-group .input-wrapper input[type = 'date'],
.form-group .sub-group input,
.form-group .sub-group textarea  {
  width: 100%;
}

/* hamburger menu  */
.hide {
  display: none;
}

.show {
  display: flex;
}

.menu,
.arrow,
.help,
input[type = 'date'],
button,
.phone-link,
.icons div {
  cursor: pointer;
}

.menu {
  min-width: 10vw;
  max-width: 20vw;
  height: 10vh;
  position: absolute;
  top: 3px;
  right: 20px;
}

.line {
  width: 40px;
  height: 4px;
  background-color: white;
  margin-top: 10px;
  transition: 0.5s;
}

.line.transformMenu:first-of-type {
  transform: rotate(45deg) translate(10px, 10px);
}

.line.transformMenu:nth-of-type(2) {
  transform: rotate(-45deg);
}

.line.transformMenu:nth-of-type(3) {
  opacity: 0;
}
/* burger end */

nav {
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}

.logo img,
.phoneImg img,
.help:hover + .tooltip,
.phone-content img,
.img img {
  display: block;
}

.phoneImg img,
.phone-content .text p {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgba(21, 41, 190, 0.945);
}

li {
  text-align: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px rgb(83, 81, 81) solid;
}

a {
  text-decoration: none;
}

li a, 
.arrow,
.icons i {
  transition: all ease 0.3s;
}

.introText {
  justify-content: center;
  align-items: flex-start;
  padding: 10%;
}

.introText h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.introText div,
.introText p:first-child {
  margin-bottom: 20px;
}

button,
.phone-link {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(255, 127, 39);
  margin-top: 20px;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #686565;
  transition: all ease 0.3s;
}

.phoneImg {
  animation-name: fadein;
  animation-duration: 4s;
}

.phoneImg img,
.introText img,
.phone-content img,
.img img {
  max-width: 100%;
}

.arrow {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 30px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/*form section*/

.form-section {
  background-color: #000139;
  justify-content: center;
  padding: 5% 10%;
}
.form-section .underline{
  width: 100px;
  height: 5px;
  background-color: #535eff;
  margin-top: 15px;
  margin-bottom: 50px;
}
.form-section h2{
  text-transform: uppercase;
}
.form-section form{
  text-align: center;
}
.form-group{
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-wrapper{
  display: flex;
  width: 48%;
  position: relative;
}

.help{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.tooltip{
  position: absolute;
  top: 130%;
  right: 0px;
  background-color: #4d4e8e;
  width: 200px;
  padding: 10px;
  display: none;
}

.tooltip:after{
  position: absolute;
  top: -8px;
  left: 55%;
  content: '';
  background-color: #4d4e8e;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.form-group .input-wrapper i {
  margin-right: 5px;
}

.form-group .input-wrapper input[type = 'text']{
  padding-right: 100px;
}

.input-wrapper label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.input-wrapper input[type='date']:focus + label{
  display: none;
}

/*removing placeholder from input type date*/

input[type=date]::-webkit-datetime-edit{
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: #fff;
}

input[type="date"]::-webkit-inner-spin-button{
  display: none;
  -webkit-appearance: none;
}

.sub-group{
  width: 48%;
  justify-content: space-between;
  align-items: flex-end;
}
.form-group input{
  width: 48%;
  padding: 15px;
  background-color: #00025e;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #fff;
  font-size: 1rem;
  font-family: 'Open Sans';
}

.form-group .sub-group textarea{
  background-color: #00025e;
  outline: none;
  border: none;
  padding: 15px;
  color: #fff;
}

/* products div */

.products {
  background-color: #333;
  justify-content: center;
}

.phone-content {
  min-width: 95vw;
  overflow: hidden;
  padding: 4% 0;
}

.phone-content .img,
.phone-content .text {
  min-width: 90vw;
  animation-name: fadein;
  animation-duration: 1s;
  padding: 1em;
  text-align: center;
}

.phone-content img,
.img img {
  max-height: 350px;
  margin: 0.2em auto;
  padding: 1em;
}

.icons {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icons div {
  padding: 0.5em;
  margin: 0.5em;
}

li a:hover {
  color: gray;
  text-shadow: 1px 1px 2px #2e2d2d;
}

.arrow a:hover {
  color: rgb(255, 127, 39);
}

button:hover,
.phone-link:hover,
.icons div:hover,
.activeIcon {
  box-shadow: 2px 1px 5px 3px rgba(153, 154, 163, 0.767);
}

button:hover,
.phone-link:hover {
  background-color: transparent;
  color: rgb(255, 127, 39);
  outline: 1px solid rgb(255, 127, 39);
}

.icons div:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.activeIcon {
  border: 1px inset lightgray;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 768px) {

  .menu {
    display: none;
  }

  ul {
    position: relative;
    background: transparent;
    top: 0;
    right: 0;
    flex-direction: row;
    width: auto;
  }

  li {
    border: none;
    width: auto;
    margin: 0 1em;
  }

  .text-image {
    flex-direction: row;
    min-height: calc(100vh - 100px);
  }

  .phoneImg,
  .introText {
    width: 50vw;
    min-height: calc(100vh - 60px);
  }

  .introText {
    padding: 0 10%;
  }

  .phoneImg {
    justify-content: flex-start;
  }
  
  .phone-content .text p {
    width: 60%;
  }
}

@media (max-width: 600px){
  .form-group,.sub-group,.input-wrapper{
    display: block;
    margin: 1em auto;
  }
  
  .form-group,.sub-group,
  .input-wrapper,
  .input-wrapper input,
  .form-group input,
  .form-group textarea{
    width: 100%;
  }

  input[type='email']{
    margin-bottom: 1em;
  }

  .phone-content .text p {
    width: 80%;
  }
}